* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2A302D;
  }

  @font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
  }

  #top {
    display: flex;
    /*Border for debugging*/
    /*border: 2px black solid;*/
    /*Take up whole width of screen*/
    width: 100vw; /*"viewport width", width of whole screen*/
  }

  #top-logo {
    /*center the logo*/
    margin: auto; 
  }

  #top-logo img{
    width: 210px;
    height: 210px;
  }

  #nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }

  a {
    color: white !important;
  }

.nav-link {
    Font-family: 'Montserrat';
    /*border: 2px black solid;*/
    border-radius: 1.5rem !important;
    margin-left: 100px;
    margin-right: 100px;
    
}

.active {
    color:  #2A302D !important;
    background-color: white !important;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.6);
}

#home-banner {
  position: relative;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  max-height: 450px;
  align-items: center;
}



#home-banner img {
  width: 100%;
  
}


  